$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1280px;

@mixin breakpoint($point) {
  @if $point == mobile-only {
    @media all and (max-width: #{$breakpoint-mobile - 1px}) {
      @content;
    }
  } @else if $point == tablet-and-below {
    @media all and (max-width: 1024px) {
      @content;
    }
  } @else if $point == tablet-only {
    @media all and (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet}) {
      @content;
    }
  } @else if $point == tablet-and-up {
    @media all and (min-width: #{$breakpoint-mobile}) {
      @content;
    }
  } @else if $point == desktop-and-below {
    @media all and (max-width: #{$breakpoint-desktop - 1px}) {
      @content;
    }
  } @else if $point == desktop-only {
    @media all and (min-width: #{$breakpoint-tablet + 1px}) and (max-width: #{$breakpoint-desktop - 1px}) {
      @content;
    }
  } @else if $point == desktop-and-up {
    @media all and (min-width: #{$breakpoint-tablet + 1px}) {
      @content;
    }
  } @else if $point == widescreen-and-up {
    @media all and (min-width: #{$breakpoint-desktop}) {
      @content;
    }
  } @else {
    @error "Invalid breakpoint name: `#{$point}`.";
  }
}
