$cursor-default: url("/assets/cursor-rpg-hand-point-32-48.png") 1 1, default;
$cursor-grab: url("/assets/cursor-rpg-hand-grab-32-48.png") 3 4, grab;
$cursor-grabbing: url("/assets/cursor-rpg-hand-grabbing-32-48.png") 3 4, grabbing;
$cursor-pointer: url("/assets/cursor-rpg-action-blank-32.png") 1 1, pointer;
