.dd__modal__character {
  background-image: url("/assets/texture-mineshaft-marble-512.png");
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "avatar tabs tabs"
    "avatar content content"
    "name content content";
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 3rem 1fr 1rem;
  height: calc(100vh - 204px);
  padding: 1rem;
  // width: 838px;
  width: calc(100vw - 326px);

  dl {
    align-content: flex-start;
    display: grid;
    grid-column-gap: 1rem;
    // grid-row-gap: 0.25rem;
    grid-template-columns: 1fr 8ch;

    // dt {
    //   clear: both;
    //   float: left;
    // }
    dd {
      // float: right;
      text-align: right;
    }
  }
}

.dd__modal__character__avatar {
  display: grid;
  grid-area: avatar;
}

.dd__modal__character__avatar__image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.dd__modal__character__content {
  align-content: flex-start;
  display: grid;
  grid-area: content;
  overflow-y: auto;
}

.dd__modal__character__name {
  // align-items: center;
  display: flex;
  font-size: 1rem;
  grid-area: name;
  // justify-content: center;
  // letter-spacing: 1px;
  // text-align: center;
  // text-transform: uppercase;
}

.dd__modal__character__tabs {
  grid-area: tabs;
}
