$dd-hud-toolbar-height: 80px;

@import "dd__dialogue";
@import "dd__statusbar";
@import "dd__toolbar";

.dd__hud {
  display: grid;
  grid-template-areas:
    "scene      aside"
    "dialogue   aside"
    "toolbar    aside"
    "statusbar  statusbar";
  grid-template-columns: calc(100vw - 300px) 300px;
  grid-template-rows: 1fr 80px $dd-hud-toolbar-height 50px;
}

.dd__hud.dd__hud--dialogue-medium {
  grid-template-rows: 1fr 300px $dd-hud-toolbar-height 50px;
}

.dd__hud.dd__hud--dialogue-huge {
  grid-template-rows: 1fr 600px $dd-hud-toolbar-height 50px;
}

.dd__aside.dd__aside--hud,
.dd__dialogue.dd__dialogue--hud,
.dd__scene.dd__scene--hud,
.dd__statusbar.dd__statusbar--hud,
.dd__toolbar.dd__toolbar--hud {
  height: 100%;
  width: 100%;
}

.dd__aside.dd__aside--hud,
.dd__dialogue.dd__dialogue--hud,
.dd__statusbar.dd__statusbar--hud,
.dd__toolbar.dd__toolbar--hud {
  background-image: url("/assets/texture-mineshaft-marble-512.png");
  border-color: rgba(55, 55, 55, 0.4);
  border-radius: 4px;
  border-style: outset;
  border-width: 3px;
}

.dd__aside.dd__aside--hud {
  grid-area: aside;
}

.dd__dialogue.dd__dialogue--hud {
  grid-area: dialogue;
}

.dd__dialogue.dd__dialogue--hud.dd__dialogue--light {
  background-image: url("/assets/texture-white-marble-512.png");
  color: black;
}

.dd__scene.dd__scene--hud {
  grid-area: scene;
}

.dd__statusbar.dd__statusbar--hud {
  // background-image: url("/assets/texture-cod-gray-marble-512.png");
  // background-image: url("/assets/texture-navy-blue-marble-512.jpg");
  // background-image: url("/assets/texture-blood-marble-512.png");
  color: rgba(255, 255, 255, 0.7);
  grid-area: statusbar;
}

.dd__toolbar.dd__toolbar--hud {
  // background-image: url("/assets/texture-cod-gray-marble-512.png");
  // background-image: url("/assets/texture-navy-blue-marble-512.jpg");
  grid-area: toolbar;
}
