@import "dd__modal__character";

.dd__modal {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  perspective: 100px;
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% - 128px - 327px);
  z-index: $z-index-dd-modal;
}

.dd__modal__content {
  position: relative;
}

.dd__modal__overlay {
  animation-name: fadein;
  animation-duration: 0.3s;
  background-color: rgba(black, 0.8);
  background-image: radial-gradient(rgba(black, 0.6) 30%, transparent);
  height: 100%;
  right: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
