$dd-dialogue-padding-horizontal: 1rem;

.dd__button.dd__button--dialogue-turn-end {
  left: 0;
  bottom: 2px;
  min-height: 57px;
  position: absolute;
  width: 100%;
}

.dd__dialogue {
  display: grid;
  overflow: hidden;
}

.dd__dialogue.dd__dialogue--loading {
  padding: 1rem;
}

.dd__dialogue__end {
  padding: 16px;
}

.dd__dialogue__hr {
  background-image: url("/assets/image-horizontal-rule-ornamental.png");
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  height: 32px;
  display: block;
  margin-bottom: 3rem;
  margin-top: 3rem;
  width: 100%;
}

.dd__dialogue__scrollframe,
.dd__dialogue__scrollframe__scrollbar {
  backface-visibility: hidden;
  perspective: 100px;
}

.dd__dialogue__scrollframe {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: 1fr 2rem;
  grid-template-rows: 1fr;
  overflow-y: scroll;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 2rem;
  padding-top: 1rem;
  position: relative;
  transform: translate3d(0, 0, 0);
  width: calc(100% + 2rem);
}

.dd__dialogue__scrollframe__scrollbar {
  grid-template-rows: 1rem 1fr 1rem;
  height: calc(100vh - 6rem - #{2 * $dd-frame-border-width});
  left: 0;
  position: sticky;
  top: 2rem;
}

.dd__dialogue__scrollframe__scrollbar__indicator,
.dd__dialogue__scrollframe__scrollbar__track__edge {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  left: 50%;
}

.dd__dialogue__scrollframe__scrollbar__indicator {
  background-image: radial-gradient(rgba($color-givry, 0.6) 10%, transparent 70%),
    radial-gradient(at top left, white 10%, transparent 60%),
    linear-gradient(to right, $color-givry, $color-cioccolato 40%);
  box-shadow: inset 0 0 2px $color-givry, 0 0 4px black;
  height: 16px;
  position: relative;
  transform: translateX(-50%)
    translateY(
      calc((100vh - 8rem - #{2 * $dd-frame-border-width}) * var(--dd-scroll-percentage-normalized) + 1rem - 50%)
    );
  width: 16px;
  will-change: transform;
  z-index: $z-index-dd-scroll-indicator;
}

.dd__dialogue__scrollframe__scrollbar__track {
  // background-image: url("/assets/image-rope.png");
  background-image: linear-gradient(to right, $color-givry 10%, $color-cioccolato, $color-arrowtown 90%);
  background-position: center;
  background-repeat: repeat-y;
  background-size: 6px 100%;
  content: "";
  filter: drop-shadow(0 0 8px black);
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 16px;
}

.dd__dialogue__scrollframe__scrollbar__track__edge {
  border: none;
  height: 1.5rem;
  left: 50%;
  position: absolute;
  width: 16px;
}

.dd__dialogue__scrollframe__scrollbar__track__edge.dd__dialogue__scrollframe__scrollbar__track__edge--head {
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

  background-image: radial-gradient(at bottom center, rgba($color-cioccolato, 0.5) 10%, transparent),
    linear-gradient(to right, $color-givry 40%, $color-arrowtown 50%);
  top: 0;
  transform: translateX(-50%) translateY(-100%);
}

.dd__dialogue__scrollframe__scrollbar__track__edge.dd__dialogue__scrollframe__scrollbar__track__edge--tail {
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
  clip-path: polygon(50% 100%, 0 0, 100% 0);

  background-image: radial-gradient(at top center, rgba($color-cioccolato, 0.5) 10%, transparent),
    linear-gradient(to right, $color-givry 40%, $color-arrowtown 50%);
  bottom: 0;
  transform: translateX(-50%) translateY(100%);
}

.dd__dialogue__turn {
  align-content: flex-start;
  background-image: url("/assets/texture-paper-1-512.jpg");
  background-size: auto, auto, auto;
  border-image-source: url("assets/border-orthodox-frame.png");
  border-image-repeat: round;
  border-image-slice: 108;
  border-radius: $dd-frame-border-radius;
  border-style: solid;
  border-width: 60px;
  color: $color-woody-brown;
  text-shadow: none;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
}

.dd__dialogue__turn.dd__dialogue__turn--loading {
  align-content: center;
  justify-items: center;
}

.dd__dialogue__turn__actor {
  color: crimson;
  display: inline;
  float: left;
  font-weight: bold;

  &:after {
    content: "-";
    padding: 0 0.5ch;
  }
}

.dd__dialogue__turn__answer__button {
  background-color: transparent;
  border: none;
  color: crimson;
  cursor: $cursor-pointer;
  text-align: left;
  width: 100%;

  &:focus,
  &:hover {
    color: darken(crimson, 20%);
    outline: none;
  }
}

.dd__dialogue__turn__answers {
  display: grid;
  grid-row-gap: 0.75rem;
  grid-template-columns: 1fr;
  margin: 0;
  padding-bottom: 3rem;
  padding-left: $dd-dialogue-padding-horizontal + 1rem;
  padding-right: $dd-dialogue-padding-horizontal;
  padding-top: 1rem;
}

.dd__dialogue__turn__illustration {
  animation-duration: 0.6s;
  display: grid;
  grid-template-columns: 1fr;
  height: 320px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3rem;
}

.dd__dialogue__turn__illustration__image {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.dd__dialogue__turn__loading-image {
  height: 100%;
  object-fit: contain;
  mix-blend-mode: color-burn;
  width: 100%;
}

.dd__dialogue__turn__prompt,
.dd__dialogue__turn__title {
  padding-left: $dd-dialogue-padding-horizontal;
  padding-right: $dd-dialogue-padding-horizontal;
}

.dd__dialogue__turn__prompt {
}

.dd__dialogue__turn__spinner {
  animation-direction: alternate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: fadein;
  font-size: 2rem;
}

.dd__dialogue__turn__title {
  @include tp-heading-h1();

  color: crimson;
  font-family: $font-family-alemdra;
}
