$dd-hud-aside-width: 128px;
// $dd-hud-debugger-width: 524px;
$dd-hud-debugger-width: 327px;
// $dd-hud-debugger-width: 0px;
$dd-hud-dialogue-width: 524px;
$dd-hud-toolbar-height: 80px;
// $dd-hud-dialogue-width: 0px;

.dd__hud {
  display: grid;
  grid-template-areas: "aside scene";
  grid-template-columns:
    $dd-hud-aside-width
    calc(100vw - #{$dd-hud-aside-width})
  ;
  height: 100vh;
  position: relative;
}

.dd__hud.dd__hud--debugger {
  grid-template-areas: "debugger aside scene";
  grid-template-columns:
    $dd-hud-debugger-width
    $dd-hud-aside-width
    calc(100vw - #{$dd-hud-debugger-width} - #{$dd-hud-aside-width})
  ;
}

.dd__hud.dd__hud--debugger.dd__hud--dialogue {
  grid-template-areas: "debugger aside dialogue scene";
  grid-template-columns:
    $dd-hud-debugger-width
    $dd-hud-aside-width
    $dd-hud-dialogue-width
    calc(100vw - #{$dd-hud-debugger-width} - #{$dd-hud-aside-width} - #{$dd-hud-dialogue-width})
  ;
}

.dd__hud.dd__hud--dialogue {
  grid-template-areas: "aside dialogue scene";
  grid-template-columns:
    $dd-hud-aside-width
    $dd-hud-dialogue-width
    calc(100vw - #{$dd-hud-debugger-width} - #{$dd-hud-aside-width} - #{$dd-hud-dialogue-width})
  ;
}

.dd__aside.dd__aside--hud,
.dd__dialogue.dd__dialogue--hud,
.dd__scene.dd__scene--hud {
  height: 100%;
  width: 100%;
}

.dd__aside.dd__aside--hud {
  grid-area: aside;
}

.dd__debugger.dd__debugger--hud {
  grid-area: debugger;
}

.dd__dialogue.dd__dialogue--hud {
  grid-area: dialogue;
}

.dd__scene.dd__scene--hud {
  grid-area: scene;
}
