.dd__button.dd__button--dialogue-turn-end {
  left: 0;
  bottom: 2px;
  min-height: 57px;
  position: absolute;
  width: 100%;
}

.dd__dialogue {
  background-blend-mode: multiply;
  background-image: url("/assets/image-disasters-of-war.png"),
    url("/assets/texture-mineshaft-marble-512.png");
  background-position: 100% 100%, center;
  background-repeat: no-repeat, repeat;
  background-size: auto;
  display: grid;
  grid-template-areas: "turn";
  grid-template-columns: 1fr;
  overflow: auto;
}

.dd__dialogue__end,
.dd__dialogue__spinner,
.dd__dialogue__turn {
  height: 100%;
  // max-width: 80ch;
  width: 100%;
}

.dd__dialogue__end,
.dd__dialogue__spinner {
  padding: 16px;
}

.dd__dialogue__turn {
  align-content: flex-start;
  animation-duration: 0.6s;
  animation-name: fadein;
  display: grid;
  grid-template-columns: 1fr;
  grid-area: turn;
  height: 100%;
  justify-content: space-between;
  overflow-y: hidden;
  position: relative;
}

.dd__dialogue__turn__actor {
  color: crimson;
  display: inline;
  // float: left;
  font-weight: bold;
  margin-left: -1rem;

  &:after {
    content: "-";
    padding: 0 0.5ch;
  }
}

.dd__dialogue__turn__answer__button {
  background-color: transparent;
  border: none;
  color: crimson;
  cursor: pointer;
  line-height: 1.3;
  padding: 0.1rem 0.5rem;
  text-align: left;
  width: 100%;

  &:focus,
  &:hover {
    color: lighten(crimson, 20%);
    outline: none;
  }
}

.dd__dialogue__turn__answers {
  display: grid;
  grid-row-gap: 0.5rem;
  grid-template-columns: 1fr;
  margin: 0;
  padding-bottom: 5rem;
  padding-left: 3rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
}

.dd__dialogue__turn__illustration {
  background-image: url("/assets/texture-mineshaft-marble-512.png");
  display: grid;
  grid-template-columns: 1fr;
  height: 320px;
  margin: 1rem 1rem 0 1rem;
  // padding-left: 1rem;
  // padding-right: 1rem;
  // padding-top: 1rem;
}

.dd__dialogue__turn__illustration__image {
  border-radius: $dd-frame-border-radius;
  height: 100%;
  // mix-blend-mode: color-dodge;
  object-fit: cover;
  width: 100%;
}

.dd__dialogue__turn__prompt {
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
}
