.dd__spinner__gears {
  // background-color: rgba(0, 0, 0, 0.3);
  // height: 100%;
  // opacity: 0.3;
  position: relative;
  transform: translateX(-14%) translateY(16%);
  width: 60%;

  &:after,
  &:before {
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-image: url("/assets/image-gear.svg");
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    display: block;
  }

  &:after {
    // background-color: rgba(0, 0, 0, 0.3);
    animation-duration: 3s;
    padding-bottom: 100%;
    // position: relative;
    // transform: translateX(-50%) translateY(-50%);
  }

  &:before {
    // background-color: rgba(255, 0, 0, 0.3);
    animation-direction: reverse;
    animation-duration: 2s;
    position: absolute;
    height: 60%;
    right: -37%;
    top: -37%;
    width: 60%;
  }
}
