.dd__aside {
  align-content: flex-start;
  background-image: url("/assets/image-rise-and-fall.png"), url("/assets/texture-mineshaft-marble-512.png");
  background-blend-mode: multiply;
  background-position: 30% 50%, center;
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;
  display: grid;
  grid-area: aside;
  grid-row-gap: $dd-frame-padding;
  grid-template-columns: 1fr;
  padding: $dd-frame-padding;
}

.dd__aside__portrait {
  border-radius: $dd-frame-border-radius;
  display: grid;
  grid-template-columns: 64px auto;
  grid-template-rows: 1fr;
  height: 96px;

  &:nth-of-type(4n) .dd__aside__portrait__statuses {
    background-position: 128px;
  }
  &:nth-of-type(4n + 1) .dd__aside__portrait__statuses {
    background-position: 256px;
  }
  &:nth-of-type(4n + 2) .dd__aside__portrait__statuses {
    background-position: 384px;
  }
}

.dd__aside__portrait.dd__aside__portrait--active {
}

.dd__aside__portrait__image {
  border-bottom-left-radius: $dd-frame-border-radius;
  border-top-left-radius: $dd-frame-border-radius;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.dd__aside__portrait__statuses {
  background-image: url("/assets/texture-mineshaft-marble-512.png");
  background-size: auto;
  display: grid;
  grid-auto-rows: 24px;
  grid-template-columns: repeat(2, 1fr);
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.dd__aside__portrait__status {
  display: grid;

  &:hover {
    .dd__aside__portrait__status__icon__tooltip {
      opacity: 1;
    }
  }

  @for $i from 1 through 12 {
    &:nth-of-type(#{$i}) .dd__aside__portrait__status__icon__tooltip {
      top: (ceil($i / 2) - 1) * 24px + 12px;
    }
  }
}

.dd__aside__portrait__status__icon {
  background-color: transparent;
  border: none;
  display: grid;
}

.dd__aside__portrait__status__icon__image {
  height: 100%;
  width: 100%;
}
