$dd-hud-toolbar-button-side: $dd-hud-toolbar-height - (2 * $dd-frame-padding) -
  (2 * $dd-frame-border-width);
$dd-hud-toolbar-scroll-indicator-height: 10px;

.dd__toolbar {
  display: grid;
  grid-column-gap: $dd-frame-padding - 2px;
  grid-template-columns:
    repeat(var(--dd-toolbar-elements), $dd-hud-toolbar-button-side)
    calc(100vw - #{$dd-hud-aside-width} - 4.6 * #{$dd-hud-toolbar-button-side});
  grid-template-rows: 1fr;
  overflow: auto;
  padding: $dd-frame-padding;
  position: relative;
  white-space: nowrap;
}

.dd__button.dd__button--toolbar {
  height: $dd-hud-toolbar-button-side;
  // padding: 0;
  width: $dd-hud-toolbar-button-side;

  &:before {
    background-size: cover;
  }
}
