@import "breakpoints";
@import "functions";
@import "normalize";
@import "typography";
@import "z-index";

$dd-frame-border-width: 2px;
$dd-frame-padding: 5px;

*,
* * {
  box-sizing: border-box;
}

body, button {
  text-shadow:
    rgba(55, 55, 55, 0.6) -1px 0 0,
    rgba(55, 55, 55, 0.6) 0 -1px 0,
    rgba(0, 0, 0, 0.6) 0 1px 0,
    rgba(0, 0, 0, 0.6) 1px 0 0
  ;
}

body {
  background-color: black;
  background-image: url("/assets/texture-cod-gray-marble-512.png");
  color: rgba(255, 255, 255, 0.85);
  display: grid;
  font-family: "Kurale", serif;
  height: 100vh;
  width: 100%;
}

body, button,
h1, h2, h3, h4, h5, h6,
p {
  @include tp-text(1);

  margin: 0;
  padding: 0;
}

#root,
.dd__container {
  align-items: flex-start;
  justify-content: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.dd__button,
.dd__button:before {
  border-color: rgba(55, 55, 55, 0.6);
  border-radius: 10px;
  border-width: $dd-frame-border-width;
}

.dd__button {
  background-color: transparent;
  background-image: url("/assets/texture-mineshaft-marble-512.png");
  border-style: inset;
  color: white;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: padding 0.05s ease-in-out;
  z-index: $z-index-dd-button;

  &:active {
    padding-left: $dd-frame-border-width;
    padding-top: $dd-frame-border-width;
  }

  &:active:before {
    filter: brightness(0.8);
    transform: translateX($dd-frame-border-width)
      translateY($dd-frame-border-width);
  }

  &:after {
    background-color: black;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -2;
  }

  &:before {
    background-image: url("/assets/texture-mineshaft-marble-512.png");
    border-style: outset;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    transition: filter 0.05s ease-in-out, transform 0.05s ease-in-out;
    right: 0;
    top: 0;
    z-index: -1;
  }

  &:focus {
    outline: none;
  }
}

.dd__button:nth-of-type(2):before {
  border-top-left-radius: 20px;
}

.dd__button:nth-of-type(3):before {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.dd__button.dd__button--highlight {
  &:active:after {
    filter: brightness(1.2);
  }
  &:after {
    background-image: url("/assets/texture-blood-marble-512.png");
    transition: filter 0.05s ease-in-out;
    // background-blend-mode: luminosity;
  }
}

.dd__button.dd__button--icon {
  font-size: 0;
  line-height: 0;

  &:before {
    background-position: center;
    background-repeat: no-repeat;
  }
}

@each $icon in (backpack, dialogue, magic, prayer, skill, strength) {
  .dd__button.dd__button--icon.dd__button--#{$icon}:before {
    background-image: url("/assets/icon-#{$icon}.svg"),
      url("/assets/texture-mineshaft-marble-512.png");
    background-size: 66%, auto;
  }
}
