@import "animations";
@import "breakpoints";
@import "colors";
@import "cursors";
@import "fonts";
@import "functions";
@import "normalize";
@import "typography";
@import "z-index";

$dd-frame-border-width: 2px;
$dd-frame-border-radius: 4px;
$dd-frame-padding: 6px;

*,
* * {
  box-sizing: border-box;
}

::selection {
  background-color: crimson;
  color: white;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  @include tp-text(1);

  background-color: black;
  background-image: url("/assets/texture-cod-gray-marble-512.png");
  color: rgba(255, 255, 255, 0.85);
  cursor: $cursor-default;
  display: grid;
  font-family: $font-family-vesper-libre;
  height: 100vh;
  overflow: hidden;
  text-shadow: rgba(55, 55, 55, 0.6) -1px 0 0, rgba(55, 55, 55, 0.6) 0 -1px 0, rgba(black, 0.6) 0 1px 0,
    rgba(black, 0.6) 1px 0 0;
  width: 100%;
}

button,
dd,
dl,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

a,
button {
  color: inherit;
  cursor: $cursor-pointer;
}

#root,
.dd__container {
  align-items: flex-start;
  justify-content: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.dd__loader {
  align-items: center;
  // background-color: rgba(255, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  // font-family: serif;
  height: 100%;
  justify-content: center;
  width: 100%;

  &:before {
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: fadein;
    // background-color: red;
    background-image: url("/assets/icon-hourglass.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: flex;
    font-size: 2rem;
    height: 5rem;
    width: 3rem;
  }

  &:not(:empty):before {
    padding-bottom: 1rem;
  }
}

.dd__loader.dd__loader--error {
  &:before {
    animation: unset;
    background-image: url("/assets/icon-error.png");
  }
}

.dd__button,
.dd__button:before {
  border-color: rgba(55, 55, 55, 0.6);
  border-radius: 10px;
  border-width: $dd-frame-border-width;
}

.dd__button {
  background-color: transparent;
  border-style: inset;
  color: white;
  cursor: $cursor-pointer;
  overflow: hidden;
  position: relative;
  transition: padding 0.05s ease-in-out;
  z-index: $z-index-dd-button;

  &:active {
    padding-left: $dd-frame-border-width;
    padding-top: $dd-frame-border-width;
  }

  &:active:before {
    filter: brightness(0.8);
    transform: translateX($dd-frame-border-width) translateY($dd-frame-border-width);
  }

  &:after {
    background-color: black;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -2;
  }

  &:before {
    border-style: outset;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    transition: filter 0.05s ease-in-out, transform 0.05s ease-in-out;
    right: 0;
    top: 0;
    z-index: -1;
  }

  &:focus {
    outline: none;
  }
}

.dd__button:nth-of-type(3n):before {
  border-top-left-radius: 20px;
}

.dd__button:nth-of-type(4n):before {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.dd__button.dd__button--highlight {
  &:active:after {
    filter: brightness(1.2);
  }
  &:after {
    background-image: url("/assets/texture-blood-marble-512.png");
    transition: filter 0.05s ease-in-out;
    // background-blend-mode: luminosity;
  }
}

.dd__button.dd__button--icon {
  font-size: 0;
  line-height: 0;

  &:before {
    background-position: center;
    background-repeat: no-repeat;
  }
}

@each $icon in (backpack, cogs, dialogue, magic, observe, prayer, skill, strength) {
  .dd__button.dd__button--icon.dd__button--#{$icon}:before {
    background-image:
      url("/assets/icon-#{$icon}.png")
      , url("/assets/texture-mineshaft-marble-512.png")
    ;
    background-size: 80%, auto;
  }
}

.dd__frame {
  border-color: rgba(55, 55, 55, 0.4);
  background-image: url("/assets/texture-mineshaft-marble-512.png");
  border-radius: $dd-frame-border-radius;
  border-style: outset;
  border-width: $dd-frame-border-width;
}

.dd__frame.dd__frame--inset {
  border-style: inset;
}

.dd__frame.dd__frame--tab {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-width: 0;
}

.dd__frame.dd__frame--tab:not(.dd__frame--active) {
  background-image: linear-gradient(to bottom, transparent 60%, rgba(black, 0.3)),
    url("/assets/texture-cod-gray-marble-512.png");
}

.dd__table {
  // background-image: url("/assets/image-nobody-knows-anybody.png"),
  //   url("/assets/texture-navy-blue-marble-512.jpg");
  // background-blend-mode: multiply;
  background-image: url("/assets/texture-navy-blue-marble-512.jpg");
  // background-position: 100% 100%, center;
  // background-repeat: no-repeat, repeat;
  background-repeat: repeat;
  // background-size: contain, auto;
  background-size: auto;
  border-collapse: collapse;
  // margin: 1rem 0;
  table-layout: fixed;
  // width: 100%;

  td,
  th {
    border: 1px solid white;
    border-color: rgba(55, 55, 55, 0.4);
    border-style: outset;
    border-width: $dd-frame-border-width + 1px;
    overflow: hidden;
    padding: #{2 * $dd-frame-padding} $dd-frame-padding;

    &:last-child {
      border-right-color: rgb(35, 35, 35);
      border-right-style: solid;
      border-right-width: 1px;
    }
  }

  tr:last-child {
    td,
    th {
      border-bottom-color: rgb(35, 35, 35);
      border-bottom-style: solid;
      border-bottom-width: 1px;
    }
  }
}

.dd__tooltip {
  align-items: center;
  background-color: rgba(black, 0.85);
  // background-image: url('assets/texture-paper-1-512.jpg');
  border-radius: $dd-frame-border-radius;
  cursor: $cursor-default;
  // display: flex;
  display: none;
  filter: drop-shadow(12px 12px 24px rgba(black, 0.6));
  flex-direction: column;
  // height: 100%;
  // min-height: 4rem;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  padding: 1rem 1.5rem;
  position: absolute;
  right: -12px;
  top: 12px;
  text-align: center;
  // transition: opacity 0.1s ease-in-out;
  transform: translateX(100%) translateY(-12px);
  width: 328px;
  z-index: $z-index-dd-aside-portrait-status-tooltip;

  &:before {
    border-color: transparent black transparent transparent;
    border-style: solid;
    border-width: 6px 10.4px 6px 0;
    height: 0;
    width: 0;

    // background-color: green;
    content: "";
    // height: 12px;
    left: -10.4px;
    position: absolute;
    top: 6px;
    // width: 12px;
  }
}
