$z-index-dd-button: 2;
$z-index-dd-modal-character-inventory-slot: $z-index-dd-button;
$z-index-dd-scroll-indicator: $z-index-dd-button + 1;
$z-index-modal: $z-index-dd-scroll-indicator + 1;
$z-index-dd-aside-portrait-status-tooltip: $z-index-modal + 1;
