@import "globals";

body {
  background-color: black;
  color: white;
  display: grid;
  font-size: 16px;
  font-family: georgia, serif;
  height: 100vh;
  line-height: 1.3;
  width: 100%;
}

.dialogue__end,
.dialogue__turn {
  padding: 2rem;
}

.dialogue__end {
  text-align: center;
}

.dialogue__turn {
  display: grid;
  grid-row-gap: 1rem;
  grid-template-areas:
    "a b"
    "c c";
  grid-template-columns: 10ch 1fr;
}

.dialogue__turn__actor {
  color: crimson;
  font-weight: bold;
  grid-area: a;

  &:after {
    content: "-";
    padding: 0 0.5ch;
  }
}

.dialogue__turn__answer__button {
  background-color: transparent;
  border: none;
  color: crimson;
  cursor: pointer;
  padding: 0.5rem 0.5rem;
  text-align: left;
  width: 100%;

  &:focus,
  &:hover {
    color: lighten(crimson, 20%);
    outline: none;
  }
}

.dialogue__turn__answers {
  display: grid;
  grid-area: c;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0 3rem;
}

.dialogue__turn__prompt {
  grid-area: b;
}
