# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# builds
/packages/*/lib

# dependencies
/node_modules
/packages/*/node_modules

# lerna
*.lerna_backup

# misc
.DS_Store
*~

# package managers
/.yarn/build-state.yml
/.yarn/cache
/.yarn/unplugged
.pnp.*
*.log
