.pi__font-preloader,
.pi__loading-screen__label__comment,
.pi__loading-screen__label__progress,
.pi__loading-screen__progress-bar {
  position: absolute;
  line-height: 1rem;
}

.pi__font-preloader:before {
  content: "...";
  font-family: "Almendra", sans-serif;
}

.pi__font-preloader:after {
  content: "...";
  font-family: "Mukta", sans-serif;
}

.pi__loading-screen__label__comment,
.pi__loading-screen__progress-bar {
  left: 1.6rem;
}

.pi__loading-screen__label__comment,
.pi__loading-screen__label__progress {
  color: #eeeeee;
  bottom: 2.4rem;
  font-family: sans-serif;
  font-size: 1rem;
  font-variant: small-caps;
  grid-template-columns: auto auto;
  letter-spacing: 0.1ch;
  text-transform: lowercase;
}

.pi__loading-screen__label__comment {
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 6.4rem);
}

.pi__loading-screen__label__progress {
  font-size: 0.8rem;
  right: 1.6rem;
  text-align: right;
}

.pi__loading-screen__progress-bar,
.pi__loading-screen__progress-bar__progress {
  height: 0.2rem;
}

.pi__loading-screen__progress-bar {
  align-items: center;
  background-color: #333333;
  bottom: 1.6rem;
  display: grid;
  width: calc(100% - 3.2rem);
}

.pi__loading-screen__progress-bar__progress {
  background-color: #eeeeee;
  color: transparent;
  display: block;
  width: var(--progress);
  transition: width 0.3s ease-in-out;
}
