.fatal-error {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 1.6rem;
  color: white;
  font-family: monospace;
  font-size: 1rem;
  left: 50%;
  letter-spacing: 0.1ch;
  line-height: 1.6;
  max-width: 80ch;
  overflow-wrap: break-word;
  overflow-y: auto;
  pointer-events: all;
  padding: 0.8rem;
  position: absolute;
  top: 1.6rem;
  transform: translateX(-50%);
  width: calc(100vw - 3.2rem);
}

.fatal-error p + p {
  margin-top: 1rem;
}
