.font-preloader {
  position: absolute;
  line-height: 1rem;
}

.font-preloader:before {
  content: "...";
  font-family: "Almendra", sans-serif;
}

.font-preloader:after {
  content: "...";
  font-family: "Mukta", sans-serif;
}
