@font-face {
  font-display: swap;
  font-family: "Almendra";
  src: url("/fonts/font-almendra-regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Mukta";
  src: url("/fonts/font-mukta-regular.ttf") format("truetype");
}
