@import "./FatalError.css";

@import "./LoadingScreen.css";
@import "./MainMenuScreen.css";

@import "./OptionsSubView.css";

html, body {
  touch-action: none;
  user-select: none;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#ui-root {
  font-kerning: normal;
  pointer-events: none;
}

#ui-root *, #ui-root * * {
  box-sizing: border-box;
}

::selection {
  background-color: white;
  color: black;
}
