@import "./LoadingScreen.css";
@import "./FatalError.css";
@import "./MainMenu.css";

body {
  user-select: none;
  touch-action: none;
}

#ui-root {
  font-kerning: normal;
  pointer-events: none;
}

#ui-root *, #ui-root * * {
  box-sizing: border-box;
}

::selection {
  background-color: white;
  color: black;
}
