.main-menu,
.main-menu:before {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.main-menu {
  align-items: center;
  color: white;
  display: grid;
  font-size: 1.6rem;
  justify-content: center;
  height: 100%;
  pointer-events: auto;
}

.main-menu__content {
  align-items: stretch;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  overflow-y: auto;
  padding: 1.6rem;
  position: relative;
}

.main-menu__title,
.main-menu__title-sub,
.main-menu__nav {
  position: relative;
}

.main-menu__title,
.main-menu__title-sub {
  line-height: 1;
  margin: 0;
  text-align: center;
}

.main-menu__title {
  font-family: "Almendra", sans-serif;
  font-size: 3.2rem;
  font-weight: normal;
  font-variant: small-caps;
  margin: 0;
}

.main-menu__title-sub,
.main-menu__nav {
  font-family: "Mukta", sans-serif;
}

.main-menu__title-sub {
  font-size: 1.4rem;
  font-variant: small-caps;
  font-weight: 500;
  letter-spacing: 0.05  ch;
  text-transform: lowercase;
  word-spacing: 1ch;
}

.main-menu__nav {
  align-self: flex-start;
  display: grid;
  font-size: 1.4rem;
  font-variant: small-caps;
  font-weight: 300;
  padding-top: 3.2rem;
  text-transform: lowercase;
  width: 100%;
}

.main-menu__nav button {
  background-color: transparent;
  border: 1px solid transparent;
  font-variant: inherit;
  font-weight: inherit;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  text-align: center;
  text-transform: inherit;
}

.main-menu__nav button:disabled {
  color: rgba(255, 255, 255, 0.4);
}

.main-menu__nav button:enabled {
  color: white;
}

.main-menu__nav button:enabled:hover {
  border-color: white;
}

.main-menu__nav button:focus {
  outline: none;
}
