.options {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  color: black;
  display: flex;
  font-family: "Mukta", sans-serif;
  font-weight: 500;
  justify-content: center;
  left: 0;
  pointer-events: auto;
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 768px) {
  .options {
    padding: 0;
  }
}

@media (min-width: 769px) {
  .options {
    padding-left: 4.8rem;
    padding-right: 4.8rem;
  }
}

.options__buttons {
  justify-content: flex-end;
  display: grid;
}

@media (max-width: 468px) {
  .options__buttons {
    grid-column-gap: 0.5ch;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 469px) {
  .options__buttons {
    grid-column-gap: 1ch;
    grid-template-columns: repeat(3, 10ch);
  }
}

.options__buttons button {
  align-items: center;
  border: 1px solid black;
  display: flex;
  height: 2rem;
  justify-content: center;
  line-height: 1;
  padding: 0;
}

.options__buttons button:disabled {
  background-color: lightgray;
  border-color: gray;
  color: gray;
}

.options__buttons button:enabled {
  background-color: white;
  color: black;
}

.options__form {
  align-items: center;
  background-color: white;
  display: grid;
  grid-row-gap: 1.6rem;
  grid-template-rows: 3.2rem repeat(2, 1fr) 2rem;
  height: 100%;
  overflow-y: auto;
  position: relative;
  width: 100%;
}

@media (max-width: 468px) {
  .options__form {
    padding: 1.6rem;
  }
}

@media (min-width: 469px) {
  .options__form {
    max-height: 80ch;
    max-width: 60ch;
    padding: 3.2rem;
  }
}

.options__form fieldset {
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
}

.options__form h1 {
  font-family: "Almendra", serif;
  font-size: 3.2rem;
  font-variant: small-caps;
  font-weight: normal;
  margin: 0;
}
