@import "./_fonts.css";

#ui-root *, #ui-root * * {
  box-sizing: border-box;
}

#ui-root {
  /*background-color: rgba(0, 0, 0, 0.5);*/
  bottom: 0;
  color: #eeeeee;
  display: grid;
  font-family: "Mukta", sans-serif;
  font-size: 1.6rem;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.pi {
}

.pi__loading-screen {
  align-items: flex-end;
  bottom: 0;
  display: grid;
  grid-gap: 0.8rem;
  line-height: 1;
  padding: 1.6rem;
  position: absolute;
  width: 100%;
}

.pi__loading-screen__label {
  display: grid;
  font-size: 1rem;
  font-variant: small-caps;
  grid-column-gap: 1.6rem;
  grid-template-columns: auto auto;
  letter-spacing: 0.1ch;
  text-transform: lowercase;
}

.pi__loading-screen__label__comment {
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pi__loading-screen__label__progress {
  text-align: right;
}

.pi__loading-screen__progress-bar {
  align-items: center;
  background-color: #333333;
  display: grid;
  height: 1.6rem;
}

.pi__loading-screen__progress-bar__progress {
  background-color: #eeeeee;
  color: transparent;
  font-size: 1.6rem;
  width: var(--progress);
}
