$dd-modal-grid-gap: 2 * $dd-frame-padding;
$dd-modal-character-avatar-column-width: 204px;
$dd-modal-character-avatar-column-height: 1.6 * $dd-modal-character-avatar-column-width;

dl.dd__modal__character__specifics {
  align-content: flex-start;
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: 1fr 8ch;

  & ~ dl.dd__modal__character__specifics {
    margin-bottom: 1.375em;
    margin-top: 1.375em;
  }

  dd {
    text-align: right;
  }
}

.dd__modal__character {
  display: grid;
  grid-gap: $dd-modal-grid-gap;
  grid-template-areas:
    "avatar body"
    "navigation body";
  grid-template-columns: $dd-modal-character-avatar-column-width 1fr;
  grid-template-rows: $dd-modal-character-avatar-column-height 1fr;
  padding: $dd-modal-grid-gap;
  position: relative;
  height: 100%;
  width: 100%;
}

.dd__modal__character__avatar {
  display: grid;
  grid-area: avatar;
}

.dd__modal__character__avatar__image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.dd__modal__character__body,
.dd__modal__character__navigation {
  padding: $dd-modal-grid-gap;
}

.dd__modal__character__body {
  grid-area: body;
  overflow: auto;
  padding: $dd-modal-padding;

  @include breakpoint(mobile-only) {
    height: calc(100vh - 75px);
  }
  @include breakpoint(tablet-and-up) {
    height: calc(80vh - 65px);
  }
}
