$dd-hud-aside-width: 128px;
$dd-hud-debugger-width: 327px;
$dd-hud-dialogue-width: 524px;
$dd-hud-settings-height: 80px;

$dd-hud-gap: 2 * $dd-frame-padding;

@function dd__hud_gap_diff($columns) {
  @return ($columns + 1) * $dd-hud-gap;
}

.dd__hud {
  display: grid;
  font-family: $font-family-vesper-libre;
  grid-template-areas:
    "aside scene"
    "settings scene";
  grid-template-columns:
    $dd-hud-aside-width
    calc(100vw - #{$dd-hud-aside-width} - #{dd__hud_gap_diff(2)});
  grid-gap: $dd-hud-gap;
  grid-template-rows: 1fr $dd-hud-settings-height;
  // height: 100%;
  padding: $dd-hud-gap;
  position: relative;
}

.dd__hud.dd__hud--debugger {
  grid-template-areas:
    "debugger aside scene"
    "debugger settings scene";
  grid-template-columns:
    $dd-hud-debugger-width
    $dd-hud-aside-width
    calc(100vw - #{$dd-hud-aside-width} - #{$dd-hud-debugger-width} - #{dd__hud_gap_diff(3)});
}

.dd__hud.dd__hud--debugger.dd__hud--dialogue {
  grid-template-areas:
    "debugger aside dialogue scene"
    "debugger settings dialogue scene";
  grid-template-columns:
    $dd-hud-debugger-width
    $dd-hud-dialogue-width
    $dd-hud-aside-width
    calc(100vw - #{$dd-hud-aside-width} - #{$dd-hud-debugger-width} - #{$dd-hud-dialogue-width} - #{dd__hud_gap_diff(4)});
}

.dd__hud.dd__hud--dialogue {
  grid-template-areas:
    "aside dialogue scene"
    "settings dialogue scene";
  grid-template-columns:
    $dd-hud-aside-width
    $dd-hud-dialogue-width
    calc(100vw - #{$dd-hud-aside-width} - #{$dd-hud-debugger-width} - #{$dd-hud-dialogue-width} - #{dd__hud_gap_diff(3)});
}

.dd__aside.dd__aside--hud,
.dd__dialogue.dd__dialogue--hud,
.dd__scene.dd__scene--hud,
.dd__settings.dd__settings--hud,
.dd__toolbar.dd__toolbar--hud {
  height: 100%;
  width: 100%;
}

.dd__aside.dd__aside--hud {
  grid-area: aside;
}

.dd__debugger.dd__debugger--hud {
  grid-area: debugger;
}

.dd__dialogue.dd__dialogue--hud {
  grid-area: dialogue;
}

.dd__scene.dd__scene--hud {
  grid-area: scene;
}

.dd__settings.dd__settings--hud {
  grid-area: settings;
}

.dd__toolbar.dd__toolbar--hud {
  grid-area: toolbar;
}
