@import "variables";

.dd__table.dd__table--debugger {
  width: 100%;
}

.dd__debugger {
  background-image: url("../assets/texture-mineshaft-marble-512.png");
  // border-radius: unset;
  // box-shadow: 0 0 16px black;
  display: grid;
  // grid-row-gap: 1rem;
  grid-template-rows: 2.5rem 1fr;
  // height: 300px;
  height: 100%;
  padding: $dd-frame-padding;
  // overflow-x: scroll;
  width: 100%;
}

.dd__debugger__breadcrumbs,
.dd__debugger__value {
  font-family: $font-family-space-mono;
  font-size: 0.8rem;
  word-wrap: break-word;
}

.dd__debugger__breadcrumbs {
  width: 60%;
}

.dd__debugger__content {
  width: 100%;
}

.dd__debugger__handle {
  align-items: center;
  display: flex;
  font-variant: small-caps;
}

.dd__debugger__value {
  width: 40%;
}
