$dd-modal-grid-gap: 2 * $dd-frame-padding;
$dd-modal-character-avatar-column-width: 204px;

dl.dd__modal__character__specifics {
  align-content: flex-start;
  display: grid;
  grid-column-gap: 1rem;
  // grid-row-gap: 0.25rem;
  grid-template-columns: 1fr 8ch;

  & ~ dl.dd__modal__character__specifics {
    margin-bottom: 1.375em;
    margin-top: 1.375em;
  }

  // dt {
  //   clear: both;
  //   float: left;
  // }
  dd {
    // float: right;
    text-align: right;
  }
}

.dd__modal__character {
  display: grid;
  grid-gap: $dd-modal-grid-gap;
  grid-template-areas:
    "avatar content content"
    "name content content";
  grid-template-columns: $dd-modal-character-avatar-column-width 1fr;
  grid-template-rows: 1fr 1rem;
  padding: $dd-modal-grid-gap;
  position: relative;
  height: 100%;
  width: 100%;
}

.dd__modal__character__avatar {
  display: grid;
  grid-area: avatar;
}

.dd__modal__character__avatar__image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.dd__modal__character__content {
  // align-content: flex-start;
  display: grid;
  grid-area: content;
  // overflow-y: auto;
}

.dd__modal__character__name {
  // align-items: center;
  display: flex;
  font-size: 1rem;
  grid-area: name;
  // justify-content: center;
  // letter-spacing: 1px;
  // text-align: center;
  // text-transform: uppercase;
}

.dd__modal__character__spirit {
}

.dd__modal__character__tabs {
  // grid-area: tabs;
  display: flex;
  flex-direction: row;
  left: $dd-modal-character-avatar-column-width + $dd-modal-grid-gap;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
}

.dd__modal__character__tab {
  display: flex;
  padding: 1.5 * $dd-frame-padding 4 * $dd-frame-padding;
  text-decoration: none;
}

.dd__modal__character__tab + .dd__modal__character__tab {
  // margin-left: $dd-frame-padding;
}

.dd__modal__character__tab:not(.dd__modal__character__tab--active) {
  transform: scale(0.9);
}
