.dd__modal {
  animation-name: fadein;
  animation-duration: 0.3s;
  align-items: center;
  display: flex;
  height: 100%;
  left: 0;
  justify-content: center;
  perspective: 100px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $z-index-dd-modal;
}

.dd__modal.dd__modal--disappear {
  animation-name: fadeout;
  animation-duration: 0.3s;
  opacity: 0;
  pointer-events: none;
}

.dd__modal__content {
  align-content: stretch;
  display: grid;
  justify-content: stretch;
  overflow: auto;
  position: relative;

  @include breakpoint(mobile-only) {
    height: 80vh;
    width: 80vw;
  }
  @include breakpoint(tablet-only) {
    height: 500px;
    width: 800px;
  }
  @include breakpoint(desktop-and-up) {
    height: 600px;
    width: 960px;
  }
}

.dd__modal__overlay {
  background-color: rgba(black, 0.4);
  background-image: radial-gradient(rgba(black, 0.8) 30%, transparent);
  filter: blur(2px);
  height: 100%;
  right: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
