.dd__frame.dd__frame--modal {
  background-image: url($texture-cod-gray-marble-512);
  border-bottom-color: darken($color-cod-gray, 5%);
  border-left-color: darken($color-mine-shaft, 5%);
  border-right-color: darken($color-cod-gray, 5%);
  border-top-color: darken($color-mine-shaft, 5%);
}

.dd__modal {
  animation-name: fadein;
  animation-duration: 0.2s;
  align-items: center;
  display: flex;
  height: 100%;
  left: 0;
  justify-content: center;
  perspective: 100px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $z-index-dd-modal;
}

.dd__modal.dd__modal--disappear {
  animation-name: fadeout;
  animation-duration: 0.2s;
  opacity: 0;
  pointer-events: none;
}

.dd__modal__navigation {
  align-content: flex-start;
  display: grid;
  grid-area: navigation;
  grid-row-gap: $dd-frame-padding;
  grid-template-columns: 1fr;
  padding: $dd-modal-grid-gap;
}

.dd__modal__overlay {
  background-color: rgba(black, 0.4);
  background-image: radial-gradient(rgba(black, 0.8) 30%, transparent);
  filter: blur(2px);
  height: 100%;
  right: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $z-index-dd-modal-overlay;
}

.dd__modal__toolbar {
  // START: order is important
  border: 1px solid transparent;
  border-image-outset: 20px 20px 20px 20px;
  border-image-repeat: round stretch;
  border-image-slice: 178 406 314 406;
  border-image-source: url($image-scroll-title);
  border-image-width: 20px 20px 20px 20px;
  // END: order is important

  background-color: $color-double-spanish-white;
  color: black;
  display: grid;
  grid-area: toolbar;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  padding-top: #{$dd-frame-border-width - 1px};
  padding-bottom: #{$dd-frame-border-width - 1px};
  padding-left: #{$dd-modal-padding - 1px};
  padding-right: #{$dd-modal-padding - 1px};
  position: relative;
  text-shadow: none;
  z-index: $z-index-dd-modal-toolbar;

  @include breakpoint(mobile-only) {
    padding-top: #{$dd-modal-padding / 1.6};
  }
  @include breakpoint(tablet-and-up) {
    background-image: url($image-horizontal-rule-ornamental),
      linear-gradient(
        90deg,
        $color-double-spanish-white 0%,
        $color-double-spanish-white calc(100% - 10px),
        darken($color-double-spanish-white, 5%) 100% // rgba(224, 207, 173, 1) 100%
      );
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.dd__modal__window {
  align-content: stretch;
  box-shadow: 0 0 50px rgba(black, 0.6);
  display: grid;
  display: grid;
  grid-column-gap: $dd-modal-grid-gap;
  grid-row-gap: $dd-modal-grid-gap;
  grid-template-areas: "toolbar" "body";
  grid-template-rows: auto 1fr;
  justify-content: stretch;
  // overflow: auto;
  position: relative;
  z-index: $z-index-dd-modal-content;

  @include breakpoint(mobile-only) {
    height: 100%;
    width: 100%;
  }
  @include breakpoint(tablet-and-up) {
    height: 80vh;
  }
  @include breakpoint(tablet-only) {
    width: 800px;
  }
  @include breakpoint(desktop-and-up) {
    width: 960px;
  }
}
