.dd__modal__settings {
  display: grid;
  grid-column-gap: $dd-modal-grid-gap;
  grid-row-gap: $dd-modal-padding;
  grid-template-areas:
    "toolbar toolbar"
    "navigation body";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr;

  &:before {
    background-image: url($image-rise-and-fall);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    content: "";
    height: 100%;
    left: 0;
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.dd__modal__settings__body,
.dd__modal__settings__navigation {
  position: relative;
}

.dd__modal__settings__body {
  grid-area: body;
  padding: $dd-frame-padding;
  padding-right: $dd-frame-padding + $dd-modal-padding;
}

.dd__modal__settings__form {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dd__modal__settings__form__label {
  padding: $dd-frame-padding;
}

.dd__modal__settings__navigation {
  align-content: flex-start;
  display: grid;
  grid-area: navigation;
  grid-row-gap: $dd-frame-padding;
  grid-template-columns: 1fr;
  padding-left: $dd-modal-padding;
}
