.dd__table.dd__table--debugger {
  width: 100%;
}

.dd__debugger {
  display: grid;
  grid-template-rows: 2.5rem 1fr;
  height: 100%;
  width: 100%;
}

.dd__debugger__breadcrumbs,
.dd__debugger__value {
  font-family: $font-family-undefined;
  font-size: 11px;
  word-wrap: break-word;
}

.dd__debugger__breadcrumbs {
  width: 60%;
}

.dd__debugger__content {
  width: 100%;
}

.dd__debugger__handle {
  align-items: center;
  display: flex;
  font-variant: small-caps;
  padding: $dd-frame-padding;
}

.dd__debugger__value {
  width: 40%;
}
