.dd__frame.dd__frame--modal {
  border-radius: 0;
}

.dd__modal {
  animation-name: fadein;
  animation-duration: 0.2s;
  align-items: center;
  display: flex;
  height: 100%;
  left: 0;
  justify-content: center;
  perspective: 100px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $z-index-dd-modal;
}

.dd__modal.dd__modal--disappear {
  animation-name: fadeout;
  animation-duration: 0.2s;
  opacity: 0;
  pointer-events: none;
}

.dd__modal__content {
  align-content: stretch;
  box-shadow: 0 0 50px rgba(black, 0.6);
  display: grid;
  justify-content: stretch;
  // overflow: auto;
  position: relative;
  z-index: $z-index-dd-modal-content;

  @include breakpoint(mobile-only) {
    height: 100%;
    width: 100%;
  }
  @include breakpoint(tablet-and-up) {
    height: 80vh;
  }
  @include breakpoint(tablet-only) {
    width: 800px;
  }
  @include breakpoint(desktop-and-up) {
    width: 960px;
  }
}

.dd__modal__overlay {
  background-color: rgba(black, 0.4);
  background-image: radial-gradient(rgba(black, 0.8) 30%, transparent);
  filter: blur(2px);
  height: 100%;
  right: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $z-index-dd-modal-overlay;
}

.dd__modal__toolbar {
  border: 1px solid transparent;
  border-image-slice: 178 406 314 406;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 20px 20px 20px 20px;
  border-image-repeat: round stretch;
  border-image-source: url($image-scroll-title);

  background-color: $color-double-spanish-white;
  color: black;
  display: grid;
  grid-area: toolbar;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  margin-bottom: $dd-modal-padding;
  padding: #{$dd-frame-border-width - 1px} #{$dd-modal-padding - 1px};
  position: relative;
  text-shadow: none;
}

.dd__modal__toolbar__title {
  // font-weight: bold;
  // font-family: $font-family-alemdra;
  // font-family: $font-family-undefined;
}

.dd__modal__toolbar__button {
  background-color: $color-woody-brown;
  border-radius: 100%;
  font-size: 0;
  height: 16px;
  width: 16px;
}
