$font-family-alemdra: "Almendra", serif;
$font-family-undefined: "undefined", monospace;
$font-family-vesper-libre: "Vesper Libre", Garamond, Georgia, serif;

// Almendra

@font-face {
  font-family: "Almendra";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Almendra-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Almendra";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/Almendra-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Almendra";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Almendra-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Almendra";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/Almendra-BoldItalic.ttf") format("truetype");
}

// undefined

@font-face {
  font-family: "undefined";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/undefined-medium.ttf") format("truetype");
}

// Vesper Libre

@font-face {
  font-family: "Vesper Libre";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/VesperLibre-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Vesper Libre";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/VesperLibre-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Vesper Libre";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/VesperLibre-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Vesper Libre";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/VesperLibre-Black.ttf") format("truetype");
}
