$border-orthodox-frame: url("../assets/border-orthodox-frame.png");

$icon-backpack: url("../assets/icon-backpack.png");
$icon-cogs: url("../assets/icon-cogs.png");
$icon-dialogue: url("../assets/icon-dialogue.png");
$icon-error: url("../assets/icon-error.png");
$icon-hourglass: url("../assets/icon-hourglass.png");
$icon-magic: url("../assets/icon-magic.png");
$icon-magnifying-glass: url("../assets/icon-magnifying-glass.png");
$icon-observe: url("../assets/icon-observe.png");
$icon-prayer: url("../assets/icon-prayer.png");
$icon-skill: url("../assets/icon-skill.png");
$icon-strength: url("../assets/icon-strength.png");

$image-disasters-of-war: url("../assets/image-disasters-of-war.png");
$image-horizontal-rule-ornamental: url("../assets/image-horizontal-rule-ornamental.png");
$image-image-nobody-knows-anybody: url("../assets/image-nobody-knows-anybody.png");
$image-knight-silhouette: url("../assets/image-knight-silhouette.svg");
$image-rise-and-fall: url("../assets/image-rise-and-fall.png");

$texture-blood-marble-512: url("../assets/texture-blood-marble-512.png");
$texture-mineshaft-marble-512: url("../assets/texture-mineshaft-marble-512.png");
$texture-navy-blue-marble-512: url("../assets/texture-navy-blue-marble-512.jpg");
$texture-paper-1-512: url("../assets/texture-paper-1-512.jpg");
$texture-texture-cod-gray-marble-512: url("../assets/texture-cod-gray-marble-512.png");
