$border-orthodox-frame: "../assets/border-orthodox-frame.png";

$icon-backpack: "../assets/icon-backpack.png";
$icon-cogs: "../assets/icon-cogs.png";
$icon-dialogue: "../assets/icon-dialogue.png";
$icon-error: "../assets/icon-error.png";
$icon-hourglass: "../assets/icon-hourglass.png";
$icon-magic: "../assets/icon-magic.png";
$icon-magnifying-glass: "../assets/icon-magnifying-glass.png";
$icon-observe: "../assets/icon-observe.png";
$icon-prayer: "../assets/icon-prayer.png";
$icon-skill: "../assets/icon-skill.png";
$icon-strength: "../assets/icon-strength.png";

$image-disasters-of-war: "../assets/image-disasters-of-war.png";
$image-horizontal-rule-ornamental: "../assets/image-horizontal-rule-ornamental.png";
$image-image-nobody-knows-anybody: "../assets/image-nobody-knows-anybody.png";
$image-knight-silhouette: "../assets/image-knight-silhouette.svg";
$image-rise-and-fall: "../assets/image-rise-and-fall.png";
$image-scroll-title: "../assets/image-scroll-title.png";

$texture-blood-marble-512: "../assets/texture-blood-marble-512.png";
$texture-cardboard-512: "../assets/texture-cardboard-512.jpg";
$texture-mineshaft-marble-512: "../assets/texture-mineshaft-marble-512.png";
$texture-navy-blue-marble-512: "../assets/texture-navy-blue-marble-512.jpg";
$texture-paper-1-512: "../assets/texture-paper-1-512.jpg";
$texture-cod-gray-marble-512: "../assets/texture-cod-gray-marble-512.png";
$texture-cod-gray-dark-marble-512: "../assets/texture-cod-gray-dark-marble-512.png";
