@import "animations";
@import "breakpoints";
@import "colors";
@import "fonts";
@import "functions";
@import "typography";
@import "z-index";

$dd-frame-border-width: 2px;
$dd-frame-border-radius: 4px;
$dd-frame-padding: 6px;
